@model StudentDetailsViewModel
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Group)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Group)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.User.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.User.Email)
        </dd>
    </dl>
</div>

<h4>Disciplines</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SelectedDisc[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SelectedDisc[0].Annotation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SelectedDisc[0].Teacher)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.SelectedDisc)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Annotation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Teacher.Name)
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Index">Back to List</a>
</div>
